{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
            <meta name="keywords" content="RunSport, convertisseur, allure, vitesse, distance, temps">       
            <meta name="description" content="Optimisez vos entraînements avec le convertisseur de données de course de RunSport. 
            Analysez vos performances et atteignez vos objectifs de manière plus intelligente et plus efficace grâce à notre outil.">     
        <title>RunSport - Convertisseur</title>
{% endblock %}


{% block body %}


    <div {{ react_component('header')}}></div>
    <div {{ react_component('convertisseur')}}></div>
    <div {{ react_component('footer')}}></div>


  
{% endblock %}
