{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 0.4em auto; width: 100%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
         

    <div {{ react_component('home')}}></div>

</div>


    
    {% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            {{ message|raw }}
        {% endfor %}
    </div>
{% endfor %}




  
{% endblock %}
