{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">

    <div {{ react_component('header')}}></div>
    <div {{ react_component('chaussure', { 'button': 'Ajouter au Panier'}) }}></div>
    <div {{ react_component('footer')}}></div>


</div>
{% endblock %}
