{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">

        <div {{ react_component('btn_chaussure', { 'button': 'Chaussure'}) }}></div>
        <div {{ react_component('btn_montre', { 'button': 'Montre'}) }}></div>
        



</div>
{% endblock %}
