{% extends 'base.html.twig' %}

{% block body %}

<div {{ react_component('header')}}></div>

    <div class="example-wrapper">
        <div class="bankTwig">
             <h1>Modifier le Produit</h1>
            {{ form(form) }}
        </div>
    </div>

<div {{ react_component('footer')}}></div>

{% endblock %}
