{% extends 'base.html.twig' %}

{% block body %}


    <div {{ react_component('header')}}></div>

    <h1 class= "titreCategorie"> Créer une Categorie</h1>
    <div class='bankTwig'>
            {{ form(form) }}
    </div>

    <div {{ react_component('footer')}}></div>
   

{% endblock %}
