{% extends 'base.html.twig' %}

{% block body %}



    <div {{ react_component('header')}}></div>
    <div {{ react_component('admin/categorie')}}></div>
    <div {{ react_component('footer')}}></div>



{% endblock %}
