
body {
    background-color: rgb(255, 255, 250);
}

.bouton {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    border-radius: 10px;
    cursor: pointer;
  }


img {
    display: block;
    width: 40%;
    margin: auto;
  }

.article-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 15px;
  box-shadow: 10px 5px 8px rgba(0,0,0,.1);
  text-align: center;
  }



.nom{
    text-transform : capitalize;
  }

  ::marker {
    font-size: 0em;
  }
  

.precedent::after {
  content: '\2190'; /* Code unicode pour la flèche vers la gauche */
  font-size: 60px;
  display: inline-block;
}


.precedent:hover::after {
  margin: 1px;
}


.suivant::after {
  content: '\2192'; /* Code unicode pour la flèche vers la droite */
  font-size: 60px;
  display: inline-block;}


.suivant:hover::after {
  margin: 1px;
}

.bloc {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
  margin-bottom: 2em;

}

.precedent, .suivant {
  padding: 10px 10px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.panier{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 2em;

}
table{
  width: 100%;
}

thead {
  background-color: #f2f2f2;
}

tbody {
  background-color: #fff;
}

tfoot {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align : center;
}

th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align : center;
}

.panierNom{
  width: 50%;
}
.panierImage {
  display: block;
  width: 30%;
  margin: auto;
}
.add, .remove, .delete, .empty{
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px;
 
}

.add {
  padding: 0px 7px;
  margin-right: 10%;
}

.remove {
  padding: 0px 14px;
  margin-right: 10%;
}

.delete {
  padding: 0px 10px;
}

.empty{
  padding: 6px 10px;
}



.add::after {
  content: '\002B '; /* Code unicode pour la flèche vers la gauche */
  font-size: 40px;
  display: inline-block;
}

.remove::after {
  content: '\002D '; /* Code unicode pour la flèche vers la gauche */
  font-size: 40px;
  display: inline-block;
}

.delete::after {
  content: '\1F5D1 '; /* Code unicode pour la flèche vers la gauche */
  font-size: 36px;
  display: inline-block;
}

.PanierTitre{
  text-align : center;
  color: #3498db;
  font-size: 60px;
}

.PanierTitre::after{
  content: '\1F6D2';
}

.total{
  font-size: 30px;
}

/*
tbody td:nth-child(even) {
  background-color: #f8f8f8;
}

tbody td:nth-child(odd) {
  background-color: #fff;
}*/




.Commande{
  margin-bottom: 3em;
}

.commandeTitre{
  text-align : center;
  color: #3498db;
  font-size: 60px;
}




/* Page D'accueil*/

body, h2, p {
  margin: 0;
  padding: 0;
}

.accueil{
  text-align: left;
}

.accueilImage{
  width: 50%; 
  margin: 1em auto; 
  margin-bottom: 3em;
}

.runsport{
  width: 13%;
  margin-left: 40px;

}


/* Style de l'en-tête */
header {
  color: #000000;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.bande {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #007bff;
}

.bandeBouton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}



/* Style de la section principale */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}


/* Style du pied de page */
footer {
  background-color: #646464;
  color: #fff;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;}

.panierLogo{
  position: absolute;
  top: 8px;
  right: 107px;
  background-color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;

}

.panierLogo::after{
  content: '\1F6D2';

}


.log {
  position: absolute;
  top: 25px;
  right: 30px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 95px;
  z-index: 1;
}

.log:hover .dropdown-content {
  display: block;
}

.boutonUser {
  background-color: #ffffff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
}

.example-wrapper {
   margin: 1em auto; 
   font: 18px/1.5 sans-serif;
  }

  /*Convertisseur*/

  .convertisseur {
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .titreConvertisseur{
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    justify-content: space-between;
  }
  
  .gauche,
  .droite {
    width: 48%; 
    margin-bottom: 20px;
  }

  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
  }

  .titreInput {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .btn_convertir{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn_reset {
    background-color: #f44336;
    margin-left: 10px;
  }
  
  .btn_convertir:hover {
    background-color: #45a049;
  }
  
  .btn_reset:hover {
    background-color: #d32f2f;
  }

  /*Bank*/

  .bank_container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bankTitre {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .bank_id {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  }

  .bank_id:hover {
    transform: scale(1.05);
  }
  
  .bank_solde {
    margin-bottom: 10px;
    font-size: 35px;
  }
  
  .bank_bouton {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 22px;
  }
  
  .bank_bouton:hover {
    background-color: #45a049;
  }
  
  