{% extends 'base.html.twig' %}

{% block title %}Résultat de la conversion{% endblock %}

{% block body %}
    <h1>Résultat de la conversion</h1>
    <p>Allure : {{ allure }} min/km</p>
    <p>Vitesse : {{ temps }} km/h</p>
    <a href="{{ path('app_convertisseur2') }}">Retourner au formulaire</a>
{% endblock %}
