{% extends 'base.html.twig' %}

{% block body %}

    <div {{ react_component('header')}}></div>
        
    <div class = 'bankBuy'>
        {{ form(form) }}
    </div>
    <div {{ react_component('footer')}}></div>


{% endblock %}