{% extends 'base.html.twig' %}

{% block body %}

</style>  

    <div {{ react_component('header')}}></div>

            {% for message in app.flashes('notification') %}
                    <div class="alert alert-info alert-dismissible fade show">
                        {{ message }}
                    </div>
            {% endfor %}

        <div class='bankTwig'>
            {{ form(form) }}
        </div>

    <div {{ react_component('footer')}}></div>

{% endblock %}