{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
        <title>RunSport - Solde</title>
{% endblock %}

{% block body %}
        
    <div {{ react_component('header')}}></div>
    <div {{ react_component('bank')}}></div>
    <div {{ react_component('footer')}}></div>
  
{% endblock %}
