{% extends 'base.html.twig' %}

{% block body %}

<div {{ react_component('header')}}></div>

        <div class="bankTwig">
             <h1>Modifier ses Informations</h1>
            {{ form(form) }}
        </div>

<div {{ react_component('footer')}}></div>

{% endblock %}
